<header class="header">

{% if page.url == "/" %}	 
<!-- ADDED THIS TO DEVELOP THE WEBSITE AND HAVE SOMETHING AVAiLABLE WHILE IT's BEIng DEVELOPED --!>
{% else %}
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="nav-menu">
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            <li class="menu__entry"><a href="{{ '/articles' | prepend: site.baseurl }}">Articles</a></li>
            <li class="menu__entry"><a href="{{ '/newsletters' | prepend: site.baseurl }}">Newsletters</a></li>
        </ul>

        <ul class="subscribe-menu">
            <li class="menu__entry"><strong>Subscribe</strong></li>
            <li class="menu__entry"><a href="https://tinyletter.com/theinclusiveleader">Newsletter</a></li>
            <li class="menu__entry"><a href="https://medium.com/@elnatnal">Medium</a></li>
            <li class="menu__entry"><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
        </ul>
    </div>

    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
    </ul>
{% endif %}
</header>
